html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

main {
  display: block;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #010419;
  background-image: url(/assets/img/bg_2.png);
  background-size: 400px 400px;
  background-repeat: repeat;
  -webkit-animation: backgroundsize 1s infinite;
          animation: backgroundsize 1s infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
}

.startbutton {
  position: absolute;
  bottom: 0;
  background-color: #8e288f;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-size: 32px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

@-webkit-keyframes backgroundsize {

  0%, 100% {
    background-size: 30%;
  }

  25% {
    background-size: 32.5%;
  }

  50% {
    background-size: 35%;
  }

  75% {
    background-size: 37.5%;
  }
}

@keyframes backgroundsize {

  0%, 100% {
    background-size: 30%;
  }

  25% {
    background-size: 32.5%;
  }

  50% {
    background-size: 35%;
  }

  75% {
    background-size: 37.5%;
  }
}

.hidden {
  display: none;
}

.gameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 160px;
  margin-top: 10rem;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: center;
  text-align: center;
  padding-top: 320px;
  padding-top: 20rem;
}

.startbord {
  height: 10%;
  width: auto;
  -webkit-animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97);
          animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes shake {

  10%, 30%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes shake {

  10%, 30%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

.startbord, .startbutton {
  margin: auto;
}

/* .home .startbutton {
  position: absolute;
  bottom: 0;
  margin-left: -9rem;
} */

.page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: center;
  text-align: center;
  padding-top: 320px;
  padding-top: 20rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  font-size: 32px;
  font-size: 2rem;
  color: white;
  padding: 8px;
  padding: .5rem;
  width: 640px;
  width: 40rem;
  text-align: center;
  line-height: 64px;
  line-height: 4rem;
}

.link-vriend {
  color: white;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  padding: 32px;
  padding: 2rem;
  background-color: #8e288f;
}

/* .links {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
} */

.startBig {
  border-radius: 300px;
  background-color: #8e288f;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  padding: 100px;
  text-decoration: none;
}

.startBig .enabled {
  background-color: #8e288f;
}

.startBig .disabled {
  background-color: #77787a;
}

.choose, .endpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 320px;
  margin-top: 20rem;
}

.playerSection {
  margin-top: 320px;
  margin-top: 20rem;
}

.playerbord {
  width: 230px;
  height: 250px;
}

.radioSection {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

input[type=radio] {
  display: none;
}

.radioLabel {
  height: 200px;
}

.intro, .game-over {
  font-size: 48px;
  font-size: 3rem;
  color: white;
  line-height: 80px;
  line-height: 5rem;
  text-align: center;
  margin: auto;
  margin-top: 160px;
  margin-top: 10rem;
  margin-bottom: 160px;
  margin-bottom: 10rem;
}

.kmteller {
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 40px;
  width: 100%;
  padding: 80px;
  padding: 5rem;
}

.kmteller ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.endpage p {
  width: 1440px;
  width: 90rem;
}

/*# sourceMappingURL=style.css.map*/