@import 'reset';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #010419;
  background-image: url(../../src/assets/img/bg_2.png);
  background-size: 400px 400px;
  background-repeat: repeat;
  animation: backgroundsize 1s infinite;
  animation-timing-function: step-start;
}

.startbutton {
  bottom: 0;
  background-color: #8e288f;
  padding: 21px 25px;
  border-radius: 19px;
  font-size: 32px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 22vw;
  margin: 8vw auto 0;
  display: flex;
  justify-content: center;
}

.friendlink {
  display: block;
  color: white;
  width: 83%;
  margin: 5px auto 0;
}

.links .startbutton {
  width: auto;
  margin: 0 20px;
}

@keyframes backgroundsize {

  0%, 100% {
    background-size: 30%;
  }

  25% {
    background-size: 32.5%;
  }

  50% {
    background-size: 35%;
  }

  75% {
    background-size: 37.5%;
  }
}

.hidden {
  display: none;
}

.gameSection {
  display: flex;
  width: 100%;
  margin-top: 10rem;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15rem;
}

.startbord {
  height: 10%;
  width: auto;
  animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97);
  transform: translate3d(0, 0, 0);
  margin: auto;
}

.startboard-container {
  animation: rot 3s infinite linear;
}

a {
  transition: all .5s ease;
}

a:hover {
  cursor: pointer;
  background-color: white;
  color: #8e288f;
}

@keyframes rot {

  from {
    transform:
      rotate(0deg)
      translate(-10px)
      rotate(0deg);
  }

  to {
    transform:
      rotate(360deg)
      translate(-10px)
      rotate(-360deg);
  }
}

@keyframes shake {

  10%, 30%, 90% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(2deg);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    transform: rotate(-1deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    transform: rotate(1deg);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    transform: rotate(-2deg);
  }
}

/* .home .startbutton {
  position: absolute;
  bottom: 0;
  margin-left: -9rem;
} */

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  text-align: center;
  padding-top: 20rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  font-size: 2rem;
  color: white;
  padding: .5rem;
  width: 40rem;
  text-align: center;
  line-height: 4rem;
}

.link-vriend {
  color: white;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #8e288f;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  line-height: 1.5;
  padding: 10px;
}

.friendbutton {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  max-width: 450px;
}

.links {
  display: flex;
  flex-direction: row;
}

.startBig {
  border-radius: 300px;
  background-color: #8e288f;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 100px;
  text-decoration: none;
}

.startBig .enabled {
  background-color: #8e288f;
}

.startBig .disabled {
  background-color: #77787a;
}

.choose, .endpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20rem;
}

.playerSection {
  margin-top: 20rem;
}

.playerbord {
  width: 230px;
  height: 250px;
}

.radioSection {
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

input[type=radio] {
  display: none;
}

.radioLabel {
  height: 200px;
}

.intro, .game-over {
  font-size: 3rem;
  color: white;
  line-height: 5rem;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.kmteller {
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 40px;
  width: 100%;
  padding: 5rem;
}

.kmteller ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.endpage p {
  width: 90rem;
}

.demo-list {
  margin-top: 10rem;
}
