@import 'reset';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #bdf2ea;
}

.hidden {
  display: none;
}

.gameSection {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  //margin-top: -2rem;
}

.gamePlay {
  margin-top: -12rem;
}

.home {
  display: flex;
  flex-direction: column;
}

.startbord {
  position: absolute;
  height: 70%;
  width: auto;
}

.startbord, .startbutton {
  margin: auto;
}

.startbutton {
  background-color: #d02321;
  color: white;
  border: none;
  padding: 30px;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 15px;
  text-decoration: none;
}

.choose{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.playerSection {
  margin-top: 20rem;
}

.playerbord {
  width: 230px;
  height: 250px;
}

.radioSection {
  height: auto;
  display: flex;
  justify-content: center;
  margin-top:100px;
}

input[type=radio] {
  display: none;
}

.radioLabel {
  height: 200px;
}

.intro, .game-over {
  font-size: 3rem;
  color: white;
  line-height: 5rem;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.kmteller {
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 80px;
}
