@import 'reset';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #010419;
  background-image: url(../../src/assets/img/bg_2.png);
  background-size: 400px 400px;
  background-repeat: repeat;
  animation: backgroundsize 1s infinite;
  animation-timing-function: step-start;
}

@keyframes backgroundsize {

  0%, 100% {
    background-size: 30%;
  }

  25% {
    background-size: 32.5%;
  }

  50% {
    background-size: 35%;
  }

  75% {
    background-size: 37.5%;
  }
}

.hidden {
  display: none;
}

.gameSection {
  display: flex;
  width: 100%;
  margin-top: 10rem;
}

.home {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  text-align: center;
  padding-top: 20rem;
}

.startbord {
  height: 10%;
  width: auto;
  animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97);
  transform: translate3d(0, 0, 0);
}

@keyframes shake {

  10%, 30%, 90% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(2deg);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    transform: rotate(-1deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    transform: rotate(1deg);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    transform: rotate(-2deg);
  }
}

.startbord, .startbutton {
  margin: auto;
}

.home .startbutton {
  position: absolute;
  bottom: 0;
  margin-left: -9rem;
}

.startbutton {
  background-color: #8e288f;
  color: white;
  border: none;
  padding: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 15px 15px 0 0;
  text-decoration: none;
  height: 8rem;
  margin-left: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.startBig {
  border-radius: 300px;
  background-color: #8e288f;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 100px;
  text-decoration: none;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20rem;
}

.playerSection {
  margin-top: 20rem;
}

.playerbord {
  width: 230px;
  height: 250px;
}

.radioSection {
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

input[type=radio] {
  display: none;
}

.radioLabel {
  height: 200px;
}

.intro, .game-over {
  font-size: 3rem;
  color: white;
  line-height: 5rem;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.kmteller {
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 40px;
  width: 100%;
  padding:5rem;
}

.kmteller ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
